<td-layout>
  <td-navigation-drawer flex [sidenavTitle]="name" name="Game Programmer" email="camilo.ruiz.casanova@outlook.com">
    <mat-nav-list>
      <!--<a *ngFor="let item of routes" mat-list-item><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>-->
      <a mat-list-item href="#home" (click)="closeDrawer()">
        <mat-icon>home</mat-icon>
        Home
      </a>
      <a mat-list-item href="#about" (click)="closeDrawer()">
        <mat-icon>person</mat-icon>
        About Me
      </a>
      <a mat-list-item href="#resume" (click)="closeDrawer()">
        <mat-icon>book</mat-icon>
        Portfolio & Resume
      </a>
      <a mat-list-item href="#contact" (click)="closeDrawer()">
        <mat-icon>person_pin</mat-icon>
        Contact
      </a>
      <a mat-list-item href="https://camiloruizcasanova.home.blog/" (click)="closeDrawer()">
        <mat-icon>chat</mat-icon>
        Blog
      </a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a *ngFor="let item of usermenu" mat-list-item><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav color="none"  navigationRoute="/">
    <button hide-gt-xs mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span class="tc-blue-500 mat-subhead">{{name}}</span>
      <!--<span hide-gt-xs class="tc-blue-500 mat-subhead">{{name}}</span>-->
      <!--<span hide-xs class="tc-blue-500 mat-subhead">{{name}}</span>-->
      <!--<mat-toolbar>-->
      <nav class="text-upper pad-left-md" flex
           layout="row" layout-align="start center">
        <a mat-button href="#home" [style.min-width]="0">
          <mat-icon hide-xs class="pad-right-lg">home</mat-icon>
          <span hide-xs hide-sm>Home</span>
          <!--<span hide-gt-sm layout="column" layout-align="center center"><mat-icon>home</mat-icon></span>-->
        </a>
        <a mat-button href="#about" [style.min-width]="0">
          <mat-icon hide-xs class="pad-right-lg">person</mat-icon>
          <span hide-xs hide-sm>About Me</span>
          <!--<span hide-gt-sm layout="column" layout-align="center center"><mat-icon>person</mat-icon></span>-->
        </a>
        <a mat-button href="#resume" [style.min-width]="0">
          <mat-icon hide-xs class="pad-right-lg">book</mat-icon>
          <span hide-xs hide-sm>Portfolio & Resume</span>
          <!--<span hide-gt-sm layout="column" layout-align="center center"><mat-icon>book</mat-icon></span>-->
        </a>
        <a mat-button href="#contact" [style.min-width]="0">
          <mat-icon hide-xs class="pad-right-lg">person_pin</mat-icon>
          <span hide-xs hide-sm>Contact</span>
          <!--<span hide-gt-sm layout="column" layout-align="center center"><mat-icon>person_pin</mat-icon></span>-->
        </a>
        <a mat-button [routerLink]="'/blog'" [style.min-width]="0">
          <mat-icon hide-xs class="pad-right-lg">chat</mat-icon>
          <span hide-xs hide-sm>Blog</span>
          <!--<span hide-gt-sm layout="column" layout-align="center center"><mat-icon>chat</mat-icon></span>-->
        </a>
      </nav>
      <!--<nav mat-stretch-tabs mat-tab-nav-bar class="text-upper" flex>-->
        <!--<a mat-tab-link href="#home">-->
          <!--<span hide-xs>Home</span>-->
          <!--<span hide-gt-xs layout="column" layout-align="center center"><mat-icon>home</mat-icon></span>-->
        <!--</a>-->
        <!--<a mat-tab-link href="#about">-->
          <!--<span hide-xs>About Me</span>-->
          <!--<span hide-gt-xs layout="column" layout-align="center center"><mat-icon>person</mat-icon></span>-->
        <!--</a>-->
        <!--<a mat-tab-link href="#resume">-->
          <!--<span hide-xs>Resume</span>-->
          <!--<span hide-gt-xs layout="column" layout-align="center center"><mat-icon>book</mat-icon></span>-->
        <!--</a>-->
        <!--<a mat-tab-link href="#contact">-->
          <!--<span hide-xs>Contact</span>-->
          <!--<span hide-gt-xs layout="column" layout-align="center center"><mat-icon>person_pin</mat-icon></span>-->
        <!--</a>-->
        <!--<a mat-tab-link [routerLink]="'/blog'">-->
          <!--<span hide-xs>Blog</span>-->
          <!--<span hide-gt-xs layout="column" layout-align="center center"><mat-icon>chat</mat-icon></span>-->
        <!--</a>-->
      <!--</nav>-->
      <!--</mat-toolbar>-->
      <!--<span flex ></span>-->
      <!--<button mat-icon-button [matMenuTriggerFor]="notificationsMenu">-->
        <!--<td-notification-count color="accent" [notifications]="12">-->
          <!--<mat-icon>notifications</mat-icon>-->
        <!--</td-notification-count>-->
      <!--</button>-->
      <!--<mat-menu #notificationsMenu="matMenu">-->
      <!--<td-menu>-->
        <!--<div td-menu-header class="mat-subhead">Job Openings</div>-->
        <!--<mat-nav-list dense>-->
          <!--<a mat-list-item>-->
            <!--<mat-icon mat-list-avatar>fiber_new</mat-icon>-->
            <!--<h4 matLine><span class="text-wrap">Sr. Frontend Engineer</span></h4>-->
            <!--<p matLine>UX team</p>-->
          <!--</a>-->
          <!--<mat-divider></mat-divider>-->
          <!--<a mat-list-item>-->
            <!--<mat-icon mat-list-avatar>fiber_new</mat-icon>-->
            <!--<h4 matLine><span class="text-wrap">Sr. Data Scientist</span></h4>-->
            <!--<p matLine>Data science team</p>-->
          <!--</a>-->
          <!--<mat-divider></mat-divider>-->
          <!--<a mat-list-item>-->
            <!--<mat-icon mat-list-avatar>fiber_new</mat-icon>-->
            <!--<h4 matLine><span class="text-wrap">Sr. DevOps Engineer</span></h4>-->
            <!--<p matLine>DevOps team</p>-->
          <!--</a>-->
        <!--</mat-nav-list>-->
        <!--<a mat-button color="accent" td-menu-footer>-->
          <!--View Jobs-->
        <!--</a>-->
      <!--</td-menu>-->
    <!--</mat-menu>-->
    </div>
    <!-- router outlet goes here -->
    <router-outlet></router-outlet>

    <!--<section id="contact" class="bgc-green-A700">-->
      <!--<div layout-gt-xs="row">-->
        <!--<div flex="40" layout="row" layout-align="center center">-->
          <!--<mat-icon class="push" style="height:auto;width:auto;" svgIcon="assets:covalent-mark"></mat-icon>-->
        <!--</div>-->
        <!--<div flex class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-xxl']">-->
          <!--<div class="push-top-xxl" hide-xs></div>-->
          <!--<h3 class="mat-display-1 tc-white push-top-xs push-bottom-sm">The most desirable locations</h3>-->
          <!--<p class="mat-title tc-blue-50">Austin, Boston, San Diego and The Bay Area!</p>-->
          <!--<button color="accent" mat-raised-button class="push-bottom-md text-upper">View More</button>-->
          <!--<div class="push-top-xxl" hide-xs></div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</section>-->
    <!-- end content -->
    <section class="bgc-blue-grey-800 tc-blue-grey-100">
      <div layout-gt-xs="row" layout-align-gt-xs="center center">
        <div layout-gt-xs="row" flex-gt-xs="80" layout-margin layout-padding>
          <div flex-gt-xs>
            <mat-nav-list>
              <h3 mat-subheader class="text-upper tc-blue-grey-100">About Teradata</h3>
              <mat-list-item>
                <p matLine class="tc-blue-grey-300">Company Info</p>
              </mat-list-item>
              <mat-list-item>
                <p matLine class="tc-blue-grey-300">Our Customers</p>
              </mat-list-item>
              <mat-list-item>
                <p matLine class="tc-blue-grey-300">Press</p>
              </mat-list-item>
            </mat-nav-list>
          </div>
          <div flex-gt-xs>
            <mat-nav-list>
              <h3 mat-subheader class="text-upper tc-blue-grey-100">Career Info</h3>
              <mat-list-item>
                <p matLine class="tc-blue-grey-300">Benefits</p>
              </mat-list-item>
              <mat-list-item>
                <p matLine class="tc-blue-grey-300">Locations</p>
              </mat-list-item>
              <mat-list-item>
                <p matLine class="tc-blue-grey-300">List item</p>
              </mat-list-item>
            </mat-nav-list>
          </div>
          <div flex-gt-xs="10">
          </div>
          <div flex layout="column" flex-gt-xs="30">
            <mat-icon class="push-top-md" svgIcon="assets:covalent" style="height:auto;width:auto;"></mat-icon>
            <p class="mat-body-1">&copy; Copyright 2017 Teradata, Inc. All rights reserved.</p>
          </div>
        </div>
      </div>
    </section>
    <a mat-fab color="accent" matTooltip="Contact Us" matTooltipPosition="above" class="mat-fab-position-bottom-right fixed">
      <mat-icon>send</mat-icon>
    </a>
    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="mat-caption">Made with <mat-icon class="text-md">favorite</mat-icon> using <a href="http://getcovalent.com" class="text-nodecoration tc-blue-700">Covalent</a>, built on Angular v4 + Angular Material.</span>
      </div>
    </td-layout-footer>
  </td-layout-nav>
</td-layout>
