<section id="home" class="">
  <div layout-gt-xs="row" class="home--video">
    <video autoplay muted loop id="myVideo">
      <source src="assets/video.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="slider-caption-top">
    <div class="slider-caption__title">Titulo</div>
    <div class="slider-caption__content">All content</div>
  </div>
</section>

<section id="about" class="bgc-blue-grey-100" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xl']">
  <h2 class="mat-display-1 text-upper text-center push-bottom">About Me</h2>
  <div layout-gt-xs="row" layout-align-gt-xs="center center">
    <div layout-gt-xs="row" layout-align="center center" flex-gt-xs="80" layout-margin>
      <div flex>
        <mat-card>
          <img mat-card-image alt="photo" src="assets/camilo.png" />
        </mat-card>
      </div>
      <div flex="65">
        <mat-card>
          <!--<mat-toolbar color="accent" class="bgc-blue-A400 push-bottom">-->
            <!--<span class="text-upper">Frontend</span>-->
          <!--</mat-toolbar>-->
          <!--<mat-card-subtitle>Openings</mat-card-subtitle>-->
          <!--<mat-divider></mat-divider>-->
          <mat-card-content layout="row" layout-align="center center" class="text-lg">
            <span class="tc-black">
              Hello there! I am a game developer who really likes games too, be it tabletop or digital,
              cards or sports, I like to play and try all kinds of games.
              <br><br>
              I initially started my programming career because I really liked computers and I was
              amazed by computer programs in general. I already liked video games and I thought about
              becoming a game programmer but that wasn't my main objective by the time, I just wanted
              to solve problems through code. Later in my last year of undergrad, I had the opportunity
              to focus my degree project on video games. I, together with some other co-students,
              developed a series of movement based mini games to assist physical rehabilitation
              therapies from a local hospital in our city. The objective was to motivate patients to
              perform their therapies, as they would be playing a game, but also doing some of their
              exercises. I honestly think it was a really significant and enriching experience,
              it allowed me to experience working with others as a team, as well as interacting with the
              patients and physiotherapists from the hospital. I really liked the fact that I could
              help someone with a problem and also develop a video game.
              <br><br>
              I decided to go full on becoming a video game developer, making games in any context
              possible, be it just for entertainment or for a greater cause. I really believe video games
              have a special power on people, like the ability to inspire emotions.
            </span>
          </mat-card-content>
          <!--<mat-divider></mat-divider>-->
          <!--<mat-card-actions>-->
            <!--<a mat-button color="accent" class="text-upper">View All</a>-->
          <!--</mat-card-actions>-->
        </mat-card>
      </div>
    </div>
  </div>
</section>

<section id="resume" class="bgc-blue-grey-50">
  <!-- <div layout-gt-xs="row" flex-gt-xs="90">
    <div flex-gt-xs="60" class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-xl']">
      <div class="push-top-xl" hide-xs></div>
      <div tdMediaToggle="gt-sm" [mediaClasses]="['push-lg']">
        <h1 class="mat-display-1 tc-blue-A400 push-top-xs push-bottom-sm">Portfolio & Resume</h1>
        <h2 class="mat-headline tc-grey-800 push-top-xs push-bottom-sm">Supporting Secondary Text</h2>
        <p class="mat-subhead tc-grey-600">Leverage agile frameworks to provide a robust synopsis for high level
          overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall
          value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity
          and empowerment.</p>
        <button mat-raised-button color="accent" class="push-bottom text-upper">Call to Action</button>
      </div>
      <div class="push-bottom-xl" hide-xs></div>
    </div>
    <div flex-gt-xs="40" class="push-xxl" layout-margin layout-align="right">
      <mat-card>
        <mat-toolbar color="accent" class="bgc-cyan-A700 push-bottom">
          <span class="text-upper">Last Projects</span>
        </mat-toolbar>
        <mat-list>
          <ng-template let-item let-last="last" ngFor [ngForOf]="[0,1,2,3,4]">
            <mat-list-item>
              <mat-icon mat-list-icon>description</mat-icon>
              <h4 matLine>DevOps Engineer</h4>
            </mat-list-item>
            <mat-divider mat-inset *ngIf="!last"></mat-divider>
          </ng-template>
        </mat-list>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <a mat-button color="accent" class="text-upper">View All</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div> -->
  <div class="gallery items-3">
    <div id="item-1" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>
    <div id="item-3" class="control-operator"></div>
  
    <figure class="item">
      <video autoplay muted="true" loop controls>
        <source src="assets/LarryBaker.flv" type="video/flv" />
      </video>
      <div class="slider-caption">
        <div class="slider-caption__title">LarryBaker</div>
        <div class="slider-caption__content">All content</div>
      </div>
    </figure>
  
    <figure class="item">
      <video muted="true" loop controls>
        <source src="assets/video.mp4" type="video/mp4" />
      </video>
      <div class="slider-caption">
        <div class="slider-caption__title">Titulo</div>
        <div class="slider-caption__content">All content</div>
      </div>
    </figure>
  
    <figure class="item">
      <video muted="true" loop controls>
        <source src="assets/video.mp4" type="video/mp4" />
      </video>
      <div class="slider-caption">
        <div class="slider-caption__title">Titulo</div>
        <div class="slider-caption__content">All content</div>
      </div>
    </figure>
  
    <div class="controls">
      <a href="#item-1" class="control-button">•</a>
      <a href="#item-2" class="control-button">•</a>
      <a href="#item-3" class="control-button">•</a>
    </div>
  </div>
</section>

<section id="contact" class="bgc-blue-grey-100" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xl']">
  <h2 class="mat-display-1 text-upper text-center push-bottom">Contact Me</h2>
  <div layout-gt-xs="row" layout-align-gt-xs="center center">
    <div layout-gt-xs="flex" flex-gt-xs="90" layout-align-gt-xs="center center">
      <div flex-gt-xs="40" class="push-left-xs">
        <mat-card>
          <mat-card-header>
            <mat-card-title >
              <a href="mailto:camilo.ruiz.casanova@outlook.com" target="_new">
                <img mat-card-lg-image src="/assets/email.png" alt="Mail: camilo.ruiz.casanova@outlook.com">
              </a>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                <a href="mailto:camilo.ruiz.casanova@outlook.com" target="_new">camilo.ruiz.casanova@outlook.com</a>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
      <div flex-gt-xs="40">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <a href="https://github.com/Camilo1090" target="_new">
                <img mat-card-lg-image src="/assets/octocat.png" width="100%" alt="Github: Camilo1090">
              </a>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                <a href="https://github.com/Camilo1090" target="_new">Camilo1090</a>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- <div flex-gt-xs="25">
        <mat-card>
          <mat-toolbar color="accent" class="bgc-light-blue-A400 push-bottom">
            <span class="text-upper">Backend</span>
          </mat-toolbar>
          <mat-card-subtitle>Openings</mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-list>
            <ng-template let-item let-last="last" ngFor [ngForOf]="[0,1,2,3,4]">
              <mat-list-item>
                <mat-icon mat-list-icon class="fill-grey-700">description</mat-icon>
                <h4 matLine>Backend Engineer</h4>
              </mat-list-item>
              <mat-divider mat-inset *ngIf="!last"></mat-divider>
            </ng-template>
          </mat-list>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <a mat-button color="accent" class="text-upper">View All</a>
          </mat-card-actions>
        </mat-card>
      </div>

      <div flex-gt-xs="25">
        <mat-card>
          <mat-toolbar color="accent" class="bgc-cyan-A700 push-bottom">
            <span class="text-upper">DevOps</span>
          </mat-toolbar>
          <mat-card-subtitle>Openings</mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-list>
            <ng-template let-item let-last="last" ngFor [ngForOf]="[0,1,2,3,4]">
              <mat-list-item>
                <mat-icon mat-list-icon class="fill-grey-700">description</mat-icon>
                <h4 matLine>DevOps Engineer</h4>
              </mat-list-item>
              <mat-divider mat-inset *ngIf="!last"></mat-divider>
            </ng-template>
          </mat-list>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <a mat-button color="accent" class="text-upper">View All</a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div flex-gt-xs="25">
        <mat-card>
          <mat-toolbar color="accent" class="bgc-teal-A700 push-bottom">
            <span class="text-upper">Quality</span>
          </mat-toolbar>
          <mat-card-subtitle>Openings</mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-list>
            <ng-template let-item let-last="last" ngFor [ngForOf]="[0,1,2,3,4]">
              <mat-list-item>
                <mat-icon mat-list-icon class="fill-grey-700">description</mat-icon>
                <h4 matLine>Quality Engineer</h4>
              </mat-list-item>
              <mat-divider mat-inset *ngIf="!last"></mat-divider>
            </ng-template>
          </mat-list>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <a mat-button color="accent" class="text-upper">View All</a>
          </mat-card-actions>
        </mat-card>
      </div> -->
    </div>
  </div>
</section>
